body {
    background-color: rgb(236, 188, 56);
}

.header {
    background-color: rgb(255, 0, 0);
    text-align: center;
    width: 100%;
    height: 130px;
    font-style: italic;
    color:white;
    font-size: 150%;
    float: left;
    
}

.main{
    width: 50%;
    float: left;
    height: 500px;
    text-align: center;
    
}


.main2 {
    width: 50%;
    float: left;
    height: 500px;
    text-align: center;
}
